markdown<3.4,>=3.2.1
tzdata
mkdocs-bootswatch
fontawesome-markdown
pymdown-extensions
mdx_truly_sane_lists
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
mkdocs-minify-plugin
mkdocs-glightbox
mkdocs-rss-plugin
mkdocs-material[imaging]