fontawesome-markdown
markdown<3.4,>=3.2.1
mdx_truly_sane_lists
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-bootswatch
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
mkdocs-glightbox
mkdocs-macros-plugin
mkdocs-material[imaging]
mkdocs-minify-plugin
mkdocs-redirects
mkdocs-rss-plugin
mkdocs-table-reader-plugin
pymdown-extensions
tzdata
